.elementor-heading-title span {
  color: var(--e-global-color-primary);
}

body:not(.elementor-editor-active) .she-header-yes.she-header {
  background: #ffff;
}

/* Scrolling Effice */
section.elementor-section.elementor-top-section.elementor-element.elementor-element-5935c82.she-header-yes.she-header-hide-on-scroll-yes.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.she-header
  section.elementor-section.elementor-inner-section.elementor-element.elementor-element-306cabb.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
  border: none;
  padding: 5px;
}
/* Home page Style  */
.elementor-column.elementor-col-100.elementor-inner-column.elementor-element.elementor-element-bd88807 {
  .elementor-widget-wrap.elementor-element-populated {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
}
.elementor-column.elementor-col-100.elementor-inner-column.elementor-element.elementor-element-7ddb77a.elementor-element-bd88807
  .elementor-widget-wrap.elementor-element-populated {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.elementor-column.elementor-col-100.elementor-inner-column.elementor-element.elementor-element-7ddb77a
  .elementor-widget-wrap.elementor-element-populated {
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50%;
  top: -1097px;
  right: 10px;
}
@media only screen and (min-width: 1024px) {
  .elementor-column.elementor-col-100.elementor-inner-column.elementor-element.elementor-element-7ddb77a
    .elementor-widget-wrap.elementor-element-populated {
    top: -590px;
    right: -45px;
  }
}
.hero_heading {
  position: relative;
}
.hero_heading::before {
  position: absolute;
  content: "";
  background-image: url(../images/shape-4.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 214px;
  height: 21px;
  right: -120px;
  bottom: -26px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .hero_heading::before {
    width: 214px;
  }
}
section.elementor-section.elementor-inner-section.elementor-element
  .courses_categories.elementor-section-boxed {
  transition: 0.4s;
}
section.elementor-section.elementor-inner-section.elementor-element
  .courses_categories.elementor-section-boxed:hover {
  transform: translateY(-7px);
}
/* Tutor lms style */
.tutor-btn.tutor-btn-outline-primary.tutor-btn-md.tutor-btn-block {
  padding: 14px 0;
  font-size: 18px;
  font-weight: 500;
}
.tutor-course-name a {
  transition: 0.4s;
}
.tutor-course-name a:hover {
  color: var(--e-global-color-primary) !important;
}
.tutor-form-control {
  padding: 13px 20px !important;
  font-size: 18px;
  border-radius: 6px;
}
input:focus {
  color: black !important;
}
textarea:focus {
  color: black !important;
}
.circle_animation {
  animation: move-image 4s ease-in-out infinite;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes move-image {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Subscribe form style */
.ff-el-form-control {
  padding: 13px 20px !important;
  border: 1px solid rgba(48, 146, 85, 0.2);
  font-size: 18px;
  border-radius: 6px;
}
.ff-el-form-control:focus {
  border-color: var(--e-global-color-primary) !important;
}
button.ff-btn.ff-btn-submit.ff-btn-md.ff_btn_style {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: var(--e-global-color-primary);
  transition: 0.3s;
}
button.ff-btn.ff-btn-submit.ff-btn-md.ff_btn_style:hover {
  background: #212121;
}
.developer {
  color: var(--e-global-color-primary);
  transition: 0.3s;
}
.developer:hover {
  color: var(--e-global-color-primary);
}

/**
*----------------
*Breadcrumb style
*----------------
**/

.rank-math-breadcrumb p {
  color: var(--e-global-color-primary) !important;
  font-size: 18px;
  font-weight: 500;
}
.rank-math-breadcrumb p a {
  color: #212832 !important;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.rank-math-breadcrumb p a:hover {
  color: var(--e-global-color-primary) !important;
}
.custom_breadcrumb:hover {
  color: var(--e-global-color-primary) !important;
}

/* Contact us page style */
.badge_icon_wrap .elementor-icon {
  background: none !important;
  border: 1px solid rgba(48, 146, 85, 0.2) !important;
  padding: 8px !important;
}

.badge_icon_wrap svg {
  background: var(--e-global-color-primary);
  border-radius: 50%;
  padding: 10px;
}
.contact__action:hover {
  color: var(--e-global-color-primary);
}

.contact_us_action_icon .elementor-icon-box-icon {
  border: 1px solid rgba(48, 146, 85, 0.2);
  padding: 15px;
  border-radius: 50%;
  display: inline-flex !important;
}

.contact_us_action_icon .elementor-icon.elementor-animation- {
  background: white;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid rgba(48, 146, 85, 0.2) !important;
}
.contact_us_action_icon:hover .elementor-icon.elementor-animation- {
  background: var(--e-global-color-primary);
  color: white !important;
}

/* Login form style */
.tutor-login-wrap,
#tutor-registration-wrap {
  max-width: 700px;
  margin: 0px auto;
  padding: 40px 0 32px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .tutor-login-wrap,
  #tutor-registration-wrap {
    margin: 50px auto;
  }
}

/* Tutor Dashboard style */
.tutor-wrap.tutor-wrap-parent.tutor-dashboard.tutor-frontend-dashboard.tutor-dashboard-student {
  margin-top: 150px;
}

/* Tutor course archive page  */
.tutor-wrap.tutor-wrap-parent.tutor-courses-wrap.tutor-container.course-archive-page {
  margin-top: 60px;
  margin-bottom: 60px;
}
.tutor-col-3.tutor-course-filter-container {
  background: #eefbf3;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
}
.tutor-pagination-wrapper-replaceable .elementor.elementor-688 {
  display: none;
}

/* Lost your password style */
.tutor-forgot-password-form,
.tutor-reset-password-form {
  max-width: 700px;
  margin: 0px auto;
  padding: 40px 0 32px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .tutor-forgot-password-form,
  .tutor-reset-password-form {
    margin: 50px auto;
  }
}

/* Woocommerce cart page style */
.woocommerce .tutor-cart-empty-state {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid var(--tutor-border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.wc-empty-cart-message,
.cart-empty.woocommerce-info {
  display: none;
}
.woocommerce-cart-form .cart-summary h2, .cart_total_wrapper  h2 {
  font-size: 30px;
  font-weight: 500;
  color: #212121;
  margin-bottom: 20px;
}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .woocommerce-cart-form__cart-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.woocommerce-cart-form__cart-item_info {
  display: flex;
  gap: 10px;
  align-items: start;
  border: 1px solid #F7FAFC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 10px;
}
@media only screen and (min-width:768px){
  .woocommerce-cart-form__cart-item_info{
    gap: 20px;
    align-items: center;
    padding: 20px;
  }
}
.woocommerce-cart-form__cart-item_info .product-thumbnail a img {
  width: 200px !important;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}
.woocommerce_cart_items_title_price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: start;
  width: 100%;
}
@media only screen and (min-width:768px){
  .woocommerce_cart_items_title_price{
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.woocommerce_cart_items_title_price .product-name a {
  font-size: 18px;
  font-weight: 400;
  color: #212832;
  transition: all 0.3s;
}
.woocommerce_cart_items_title_price .product-name a:hover{
  color: var(--e-global-color-primary);
}
.product-remove a {
  color:var(--e-global-color-primary) !important;
}

.product-remove a::after {
  width: 100%;
  height: 100%;
  content: "Remove";
  top: 10px;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  color: var(--e-global-color-primary);
}
.woocommerce a.remove{
  color: var(--e-global-color-primary) !important;
}
.woocommerce a.remove:hover {
  color: var(--e-global-color-primary) !important;
  background: none !important;
  text-decoration: none;
}
.actions.woocommerce_cart__action {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 15px;
  background: #EEFBF3;
  border-radius: 10px;
}
@media only screen and (min-width:768px){
  .actions.woocommerce_cart__action {
    flex-direction: row;
  }
}
.actions.woocommerce_cart__action .coupon {
  display: flex;
  gap: 10px;
}
.actions.woocommerce_cart__action button {
  background: var(--e-global-color-primary) !important;
}

.woocommerce_cart_product_summery_price_wrapper {
  display: grid;
  grid-template-columns: repeat(8, 8fr);
  gap:30px;
  width: 100%;
} 
@media only screen and (min-width:768px){
  .woocommerce_cart_product_summery_price_wrapper {
    grid-template-columns: repeat(8, 1fr);
  } 
}
.woocommerce-cart-form{
  grid-column: span 8; 
}
@media only screen and (min-width:768px){
  .woocommerce-cart-form{
    grid-column: span 5; 
  }
}
.cart-collaterals_total{
  grid-column: span 8; 
} 
@media only screen and (min-width:768px){
  .cart-collaterals_total{
    grid-column: span 3; 
  } 
}

.cart-collaterals_total .cart_totals {
  gap: 10px;
  border: 1px solid #F7FAFC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 10px;
}
@media only screen and (min-width:768px){
  .cart-collaterals_total .cart_totals{
    gap: 20px;
    padding: 20px;
  }
}
.wc-proceed-to-checkout {
  padding-bottom: 5px !important;
}

.wc-proceed-to-checkout a {
  margin: 0 !important;
}
.wc-proceed-to-checkout a {
  background: var(--e-global-color-primary) !important;
}
